body {
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
  color: rgb(199, 102, 12);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-image: url('./images/water-polluted-plastic-garbage.jpg');
  background-size: cover;
}

button {
  font-size: 30px;
  font-family: 'Bangers', cursive;
  background-color: rgb(199, 102, 12);
  color: #fff;
  padding: 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

canvas {
  background-image: url('./images/water.png');
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0px;
  text-align: center;
}
.inline {
  display: flex;
  justify-content: space-evenly;
}

audio {
  margin-top: 15%;
}
